<% if(forms.length) { %>
<ul>
  <% forms.forEach( form => { %>
  <li>
    <h2><%= form.created_at.slice(0, -8) %></h2>
    <a href="div-inc.herokuapp.com/survey/<%= form.id %>">/survey/<%= form.id %></a>
    <h2> Submisions: <%= form.count %></h2>
    <form method="get" action="/result/<%= form.id %>">
      <button type="submit">Results</button>
    </form>
    <form id="deleteSurvey" method="post" action="/delete/<%= form.id %>?_method=DELETE">
      <button id="deleteSurveyButton" type="submit">Delete Survey</button>
    </form>
  </li>
  <% }); %>
</ul>
<% } %>