<!DOCTYPE html>
<html>

<head>
  <title>Technology Survey Historical Results</title>
  <%- include( '../layout/head.ejs' ) %>
</head>

<body>
  <%- include( '../layout/header.ejs' ) %>
  <%- include( '../partials/forms_listing', { forms : forms } ) %>
  <%- include( '../partials/createsurvey' ) %>
  <%- include( '../layout/footer.ejs' ) %>
</body>

</html>