<!DOCTYPE html>
<html lang="en">

<head>
  <title>Technology Survey Historical Results</title>
  <%- include( '../layout/head.ejs' ) %>
</head>

<body>
  <div class="adminPage">
    <%- include( '../layout/header.ejs' ) %>
    <%- include( '../partials/limit.ejs'), { limit : limit } %>
    <%- include( '../partials/forms_listing', { forms : forms } ) %>
    <%- include( '../partials/createsurvey' ) %>
  </div>
  <footer>
    <p>Created by Team Will Ring Your Bell for Codefellows</p>
  </footer>
</body>

</html>